.videoGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 2);
    z-index: 0;
}

@media (width >=48rem
    /* 768px */
) {
    .videoGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
}